<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="../static/assets/cs/ins.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
  <div class="terminal" id="Terminal">
    <div class="console-line">
      Click 
      <button id="run-button">Run</button> 
      to run the final project you will build.
    </div>
    <div class="content" id="Content">
      <div>What do you choose? Type 0 for Rock, 1 for Paper or 2 for Scissors.</div>
      <div id="consoleInput-undefined">
        <input autocomplete="off" 
        autocorrect="off" 
        autocapitalize="off" 
        spellcheck="false" 
        type="text" 
        class="terminal-input" 
        size="6">
        <div class="console-carrot"></div>
      </div>
    </div>
  </div>

<script src="../static/assets/js/ins.js"></script>

</body></html>