<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400italic,700,700italic&amp;subset=latin,greek,cyrillic" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>  
  </head>

  <body>
    <div class="terminal" id="Terminal">
      <div class="console-line">
        <button type="button"class="btn btn-secondary" >
          <img src="../static/assets/svgs/return-home.svg" class="svg-whitened" alt="a line draw image of a box contain left-pointed arrow, represents returns to home page." height="30">
        </button>
        this is the DEMO of _.
        <button type="button" class="btn btn-success" id="run-button">
          <img src="../static/assets/svgs/power-on.svg" class="svg-whitened" alt="a line draw image of the power button, represents start the game." height="30">
        </button>
      </div>
      <div class="content" id="Content">
        <!-- <div>simulating printed text</div> -->
        <div id="consoleInput-undefined">
          <form action="{{ url_for('demo') }}" method="post">
            <label>></label>
            <input 
            autocomplete="off" 
            autocorrect="off" 
            autocapitalize="off" 
            spellcheck="false" 
            type="text" 
            class="terminal-input" 
            size="1"
            name="user_input"
            >
            
            <!-- cite: https://stackoverflow.com/a/65576087 -->
            <p>
              solution with span
              <span class="number-input" role="textbox" contenteditable>200001230001003002</span>
            </p>
    
            <label class="input-sizer" data-value="200001230001003002">
              <input class="number-input1" type="text" oninput="this.parentNode.dataset.value = this.value" size="1" value="200001230001003002">
            </label>
            <button class="save"></button>

            
            <!-- onkeypress="this.style.width = (this.value.length) +'ch';" 
            onload="InputWidthAdjust()" -->
            <input type="submit" value="" class="input-button">
          </form>
          <!-- <div class="console-carrot"></div> -->
        </div>
      </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- <script src="../static/assets/js/demo.js"></script> -->
    <!-- <script>
      function InputWidthAdjust() {
        document.getElementById("mytxt").style.width = (mytxt.value.length) + 'ch';
      }
      
      window.onload = InputWidthAdjust();
      </script> -->
      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  </body>
</html>